<!DOCTYPE html>
<html>
<head>
    <!--Todo esto es referntes a los estilos globlas, los que usa toda la app-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body>

    <!--Pie de pagina-->
    <div class="container body-content">

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-warning" id="toastrWarning">toastrWarning</button>
            </div>

        </div>

        <script type="text/javascript">

            $(function () {
                $("#toastrWarning").click(function () {
                    toastr.error("Warning")
                });
            });

        </script>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
</body>
</html>