@model List<model.entity.Beneficiario>
@{
    ViewBag.Title = "Inicio";
}

<div class="container">

    <div>
        <a class="btn btn-primary" href="~/Usuario/create">Nuevo</a>
    </div>
    <table class="table ">
        <tr class="btn-primary">
            <th>Codigo</th>
            <th>Id Persona</th>
            <th>Id Tipo Parentezco</th>
            <th>Porcentaje</th>
            <th colspan="3">Operaciones</th>

        </tr>
        @foreach (var objetoBeneficiario in Model)
        {
            <tr>
                <td>@objetoBeneficiario.IdBeneficiario</td>
                <td>@objetoBeneficiario.IdPersona</td>
                <td>@objetoBeneficiario.IdTipoParentezco</td>
                <td>@objetoBeneficiario.Porcentaje</td>-->

                <!--  PENDEINTE EL VER  -->
                @*<td><a class="btn btn-success" href="~/Usuario/find/@objetoBeneficiario.">Ver</a></td>
                <td><a class="btn btn-primary" href="~/Usuario/update/@objetoBeneficiario.IdUsuario">Actualizar</a></td>*@
                <td><a class="btn btn-danger" href="~/Usuario/delete/@objetoBeneficiario.IdBeneficiario">Editar</a></td>
            </tr>
        }
    </table>
</div>


