USE [BD_TP1_Cuenta_De_Ahorros]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertarPersona]    Script Date: 10/11/2020 20:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SPInsertarPersona]
		 @pIdTipoDocumentoIdentidad INT
		,@pNombre VARCHAR
		,@pValorDocumentoIdentidad INT
		,@pFechaNacimiento DATE
		,@pTelefono1 VARCHAR
		,@pTelefono2 VARCHAR
		,@pCorreoElectronico VARCHAR

AS 
BEGIN
	INSERT 
	INTO [dbo].[Persona]
					(
						 IdTipoDocumentoIdentidad
						,Nombre
						,ValorDocumentoIdentidad
						,FechaNacimiento
						,Telefono1
						,Telefono2
						,CorreoElectronico
						,InsertAt
						,UpdateAt
						,InsertBy
						,UpdateBy
						,InsertIn
						,UpdateIn
					)

	VALUES(
			 @pIdTipoDocumentoIdentidad
			,@pNombre
			,@pValorDocumentoIdentidad
			,@pFechaNacimiento
			,@pTelefono1
			,@pTelefono2
			,@pCorreoElectronico
			,GETDATE()
			,GETDATE()
			,'DB Admin'
			,'DB Admin'
			,'Costa Rica'
			,'Costa Rica'
		);

END

--DROP PROCEDURE SPInsertarPersona;
GO
