
@{
    ViewBag.Title = "MenuNormal";
}

<menu>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Cuentas</a>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Personas</a>
</menu>

