@model model.entity.Usuario
@{
    ViewBag.Title = "MenuAdmin";
}


@Html.Partial("~/Views/Shared/NavBar.cshtml")

@{Html.DisplayNameFor(model => model.NombreUsuario);}


@*<h2>MenuAdmin </h2>*@

<menu>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Usuarios</a>
    <a class="btn btn-success" href="~/CuentaAhorro/Inicio/">Ver Cuentas</a>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Personas</a>
</menu>