
@{
    ViewBag.Title = "MenuNormal";
}

@{Html.RenderPartial("Top_Menu_Usuario");}
<h2>MenuUser</h2>
<menu>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Cuentas</a>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Personas</a>
</menu>

