
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Aqui hay que ver que hacer con esta redireccion BNUCR-->
            @Html.ActionLink("BNUCR", "Inicio", "Usuario", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Beneficiarios", "Create", "Beneficiario", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Estados de cuenta", "Inicio", "Usuario" , new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>