@{
    ViewBag.Title = "About BNUCR";
    string algo = "Codigo c#";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>@algo</p>
<p>Todo lo que tenga arroba es codigo c#</p>
