@{
    ViewBag.Title = "Home Page";
}

<!--Creo que el jumbotron es el cuadro-->
<div class="jumbotron">
    <h1>TITULO HERE</h1>
    <p class="lead">Parrafo descriptivo de algo con app. I have no idea xD</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-primary btn-lg" href="https://awwmemes.com/i/jam%C3%A1s-te-rindas-%C2%A1porque-ese-es-tu-camino-ninja-uzumaki-c8d4ff84be7149c4be3b368bb626c55a">Ejmplo btn bootstrap &raquo;</a></p>
    </div>
</div>